@import 'assets/styles/dependencies';

button {
  -webkit-appearance: button;
  overflow: visible;
  line-height: inherit;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

.wrapper {
  @include button;

  font-weight: bolder;
  letter-spacing: $ls-wider;
  text-transform: uppercase;
  background: $bg-strong-inverse;
  color: $fg-strong-inverse;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $bg-inverse;
  }

  &:active {
    background: $bg-weak-inverse;
  }
}
