//@import '../../assets/styles/dependencies';

//$md-frame: $sizing-ui-small;
//$lg-frame: $sizing-ui-medium;
//$xl-frame: $sizing-ui-large;

//$frame-color: #000;
//$body-color: #fff;

//html {
//  background: $frame-color;
//}

//@mixin frame($frame-size) {
//  .wrapper {
//    grid-template: {
//      rows: $frame-size 1fr $frame-size;
//      columns: $frame-size 1fr $frame-size;
//    }
//
//    &::before,
//    &::after {
//      width: $frame-size;
//    }
//  }
//
//  .body {
//    &::before,
//    &::after {
//      height: $frame-size;
//    }
//  }
//}

//@include mq(md) {
//  .wrapper,
//  .body {
//    &::before,
//    &::after {
//      content: ' ';
//      background: $frame-color;
//    }
//  }
//
//  .wrapper::before,
//  .wrapper::after,
//  .body::before {
//    top: 0;
//  }
//
//  .wrapper::after,
//  .body::before,
//  .body::after {
//    right: 0;
//  }
//
//  .wrapper::before,
//  .wrapper::after,
//  .body::after {
//    bottom: 0;
//  }
//
//  .wrapper::before,
//  .body::before,
//  .body::after {
//    left: 0;
//  }
//
//  @include frame($md-frame);
//}

//@media (min-width: 1024px) {
//  @include frame($lg-frame);
//}

//@media (min-width: 1280px) {
//  @include frame($xl-frame);
//}

@import 'assets/styles/dependencies';

:global {
  html {
    background: #000;
  }
}

@media (min-width: 768px) {
  .wrapper,
  .body {
    &::before,
    &::after {
      position: fixed;
      display: block;
      content: ' ';
      background: #000;
      z-index: 9999;
    }
  }

  .wrapper::before,
  .wrapper::after,
  .body::before {
    top: 0;
  }

  .wrapper::after,
  .body::before,
  .body::after {
    right: 0;
  }

  .wrapper::before,
  .wrapper::after,
  .body::after {
    bottom: 0;
  }

  .wrapper::before,
  .body::before,
  .body::after {
    left: 0;
  }

  .wrapper {
    grid: {
      template-rows: 0.5rem 1fr 0.5rem;
      template-columns: 0.5rem 1fr 0.5rem;
    }

    &::before,
    &::after {
      width: 0.5rem;
    }
  }

  .body {
    &::before,
    &::after {
      height: 0.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .wrapper {
    grid: {
      template-rows: 1rem 1fr 1rem;
      template-columns: 1rem 1fr 1rem;
    }

    &::before,
    &::after {
      width: 0.5rem;
    }
  }

  .body {
    &::before,
    &::after {
      height: 0.5rem;
    }
  }
}

@media (min-width: 1280px) {
  .wrapper {
    grid: {
      template-rows: 2rem 1fr 2rem;
      template-columns: 2rem 1fr 2rem;
    }

    &::before,
    &::after {
      width: 2rem;
    }
  }

  .body {
    &::before,
    &::after {
      height: 2rem;
    }
  }
}
