@import 'assets/styles/dependencies';

code,
pre,
.wrapper {
  font-family: $unquote-font-family-code !important;
}

code,
pre {
  font-size: 1em;
}

.wrapper {
  background: $bg-strong-inverse;
  color: $fg-strong-inverse;

  pre,
  textarea {
    padding: $spacing-sm $spacing-md !important;
    background: transparent !important;
    font-family: inherit !important;
  }

  textarea:focus {
    outline-color: $accent-default;
    outline-offset: -$border-width-thickline;
  }
}
