@import '../../assets/styles/dependencies';

@mixin zindexes($breakpoint-token: '') {
  $prefix: if(($breakpoint-token != ''), '#{$breakpoint-token}_', '');

  @each $z-index-token, $z-index-value in $z-indexes {
    .#{$prefix}#{$z-index-token} {
      z-index: $z-index-value;
    }

    @each $pseudo-token, $pseudo-value in $pseudos {
      .#{$prefix}#{$pseudo-token}_#{$z-index-token}#{$pseudo-value} {
        z-index: $z-index-value;
      }
    }
  }
}

@include zindexes;

@each $breakpoint-token, $breakpoint-value in $mq-breakpoints {
  @include mq($breakpoint-value) {
    @include zindexes($breakpoint-token);
  }
}
