@mixin h2 {
  font-style: italic;
  font-size: $font-size-xl;
  line-height: 1.25;
  font-family: $unquote-font-family-display;
  letter-spacing: $ls-tight;
}

@mixin h3 {
  font-size: $font-size-lg;
  line-height: 1.25;
  font-family: $unquote-font-family-display;
  letter-spacing: $ls-tight;
}

@mixin h4 {
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: $ls-wider;
  text-transform: uppercase;
}

@mixin form-input {
  outline: 1px solid $accent-weak;
  padding: $spacing-sm $spacing-md;
  width: 100%;
  line-height: inherit;

  &:hover {
    outline-color: $accent-default;
  }

  &:focus {
    outline: {
      width: $spacing-base;
      color: $accent-strong;
    }
  }
}

@mixin button {
  padding: $spacing-sm $spacing-md;
}

@mixin breakpoints($selector) {
  .#{$selector} {
    @content;
  }

  @each $breakpoint-token, $breakpoint-value in $mq-breakpoints {
    @include mq($breakpoint-value) {
      .#{$breakpoint-token}_#{$selector} {
        @content;
      }
    }
  }
}
