@import '~@dtcg/design-tokens/dist';

$mq-breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
);

$space: (
  base: $spacing-base,
  xs: $spacing-xs,
  sm: $spacing-sm,
  md: $spacing-md,
  lg: $spacing-lg,
  xl: $spacing-xl,
  xxl: $spacing-xxl,
  none: 0,
);

$unquote-font-family-body: unquote($font-family-body);
$unquote-font-family-display: unquote($font-family-display);
$unquote-font-family-code: unquote($font-family-code);
