@import '../../assets/styles/dependencies';

$displays: (
  none: none,
  block: block,
  flowroot: flow-root,
  inlineblock: inline-block,
  inline: inline,
  flex: flex,
  inlineflex: inline-flex,
  grid: grid,
  inlinegrid: inline-grid,
  table: table,
  tablecaption: table-caption,
  tablecell: table-cell,
  tablecolumn: table-column,
  tablecolumngroup: table-column-group,
  tablefootergroup: table-footer-group,
  tableheadergroup: table-header-group,
  tablerowgroup: table-row-group,
  tablerow: table-row,
);

@mixin displays($breakpoint-token: '') {
  $prefix: if(($breakpoint-token != ''), '#{$breakpoint-token}_', '');

  @each $display-token, $display-value in $displays {
    .#{$prefix}#{$display-token} {
      display: $display-value;
    }

    @each $pseudo-token, $pseudo-value in $pseudos {
      .#{$prefix}#{$pseudo-token}_#{$display-token}#{$pseudo-value} {
        display: $display-value;
      }
    }
  }
}

@include displays;

@each $breakpoint-token, $breakpoint-value in $mq-breakpoints {
  @include mq($breakpoint-value) {
    @include displays($breakpoint-token);
  }
}
