@import '../assets/styles/dependencies';

.header,
.project {
  content-visibility: auto;
}

.header {
  background: $bg-strong-inverse;
}

.cover {
  padding: {
    right: $spacing-xl;
    left: $spacing-xl;
  }

  width: 100%;
}

.project {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: $spacing-xl;
  row-gap: $spacing-lg;
}

@include mq($xl) {
  .project {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .details {
    grid-column: span 2 / span 2;
  }
}
