@import '../../assets/styles/dependencies';

.block {
  content-visibility: auto;
}

.dates,
.description,
.list {
  color: $fg-weak;
}

.description,
.list {
  padding-left: $spacing-xl;
}

.role_label {
  font-weight: 600;
}
